@import '../../Accounts/assets/kob-account';
#account-page-kob{
    background-image: url("../../../assets/images/for-all-needs.jpg");
    h3,h5{
        color:black
    }
    h6{
        color: rgba(0,0,0,0.50);
    }
}