#posterminal-features{
    margin-top:60px;
    h2{
        font-weight: 300;
        margin-bottom: 20px;
    }
    p{
        color:rgba(0,0,0,0.50)
      }
      
    .col-md-4{
    
       margin-top: 40px;
    }
    .pos-col-img{
        margin-right: 10px;
        img{
            max-width: 60px;
            max-height: 60px;
            
           
        }
    }
}