#posterminal-service{
    margin-top:60px;
    h2{
        font-weight: 300;
        margin-bottom: 30px;
    }
  
    .col-md-4{
        margin-top: 20px;
        p{
            color:rgba(0,0,0,0.60);
            margin-top:10px;
            margin-left:20px;
        }
        img{
            width: 80px;
            height: 80px;
        }
    }
}