* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(5, 141, 102);
  border-radius: 3px;
  border: 1px solid white;
}

body {
  background-color: #fafafa;
}

.carousel-item {
  transition: 1s ease-in-out;
}

.d-none {
  display: none;
}

.btn {
  color: white;
  background-color: #058d66;
  padding: 13px 26px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(164, 255, 164);
}

.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000;
}
.loading img {
  width: 100px;
  height: 100px;
}
.loading h2 {
  font-weight: 300;
}

@keyframes lefttoright {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(0);
  }
}
.loading-end {
  opacity: 0;
  transition: 1s ease-in-out;
  transform: scale(2);
}

.section-animation {
  transition: 0.8s ease-in-out;
  animation-name: lefttoright;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  opacity: 1 !important;
}

.opacity-animation {
  opacity: 0;
}

#navbar {
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 100;
  top: 0;
}
#navbar a {
  text-decoration: none;
  cursor: pointer;
}

.container-navbar {
  z-index: 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-menu ul {
  margin: 0;
  margin-right: 180px;
  display: flex;
}
.header-menu ul li {
  list-style: none;
  padding: 15px 10px;
  margin-left: 30px;
  color: rgba(0, 0, 0, 0.38);
}
.header-menu ul li a {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.38);
  padding-top: 10px;
  padding-bottom: 15px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 600;
}
.header-menu ul li a:hover {
  color: black;
  text-decoration: none;
  border-bottom: 3px solid #058d66;
}

a {
  text-decoration: none;
}

i {
  font-size: 30px;
  color: red;
}

.header-info {
  padding-top: 10px;
  border-top: 1px solid rgb(196, 181, 181);
  position: relative;
  top: 0;
  z-index: 10;
  background-color: white;
  width: 100%;
}
.header-info:hover {
  display: block;
}

.forbusiness, .forcredit, .forfactoring, .fortransaction, .foradditional-operations {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.forbusiness ul, .forcredit ul, .forfactoring ul, .fortransaction ul, .foradditional-operations ul {
  padding-right: 90px;
}
.forbusiness li, .forcredit li, .forfactoring li, .fortransaction li, .foradditional-operations li {
  list-style: none;
  padding: 10px;
}
.forbusiness a, .forcredit a, .forfactoring a, .fortransaction a, .foradditional-operations a {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}
.forbusiness a:hover, .forcredit a:hover, .forfactoring a:hover, .fortransaction a:hover, .foradditional-operations a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.forcredit, .forfactoring, .fortransaction {
  margin-left: 140px;
  justify-content: flex-start;
}

.forfactoring, .fortransaction {
  height: 270px;
}

.hamburger-nav {
  display: none;
}

@media only screen and (max-width: 992px) {
  #navbar .hamburger-menu {
    display: block;
  }
  #navbar .header-menu {
    display: none;
  }
  #navbar .hamburger-nav {
    display: block;
  }
  .container-navbar {
    justify-content: space-between;
  }
  .hamburger-menu {
    color: black;
    display: none;
  }
  .ul-business li, .ul-credit li, .ul-transaction li, .ul-additional li, .ul-factoring li {
    margin-left: 20px;
    list-style: none;
  }
  .responsive-nav {
    position: absolute;
    width: 100%;
    padding: 20px 10px;
    background-color: white;
  }
  .ul-business a, .ul-additional a, .ul-credit a, .ul-factoring a, .ul-transaction a {
    color: rgba(0, 0, 0, 0.6);
  }
}
footer {
  background-color: white;
}
footer ul {
  list-style: none;
}

#footer-contacts {
  margin-top: 100px;
  background-color: white;
  padding-top: 50px;
}
#footer-contacts .logo-opacity {
  display: none;
}
#footer-contacts .row {
  justify-content: space-between;
}
#footer-contacts .footer-contacts-item .footer-call {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}
#footer-contacts .footer-label {
  color: rgba(0, 0, 0, 0.5);
}

#padding-1 {
  padding-left: 100px;
}

#padding-2 {
  padding-right: 25px;
  padding-left: 30px;
}

.footer-icons-responsive {
  display: none;
}

#footer-navigation {
  margin-top: 40px;
}
#footer-navigation .footer-icons a {
  margin-right: 10px;
}
#footer-navigation .row {
  justify-content: space-between;
}
#footer-navigation ul li {
  padding: 10px 16px;
}
#footer-navigation ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
#footer-navigation ul li a:hover {
  color: black;
}

#footer-copyright .copyright-content {
  display: flex;
  justify-content: space-between;
}
#footer-copyright .copyright-content p {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 992px) {
  #footer-navigation {
    display: none;
  }
  #padding-1, #padding-2 {
    padding-left: 0px;
  }
  .copyright-content {
    flex-direction: column;
  }
  .footer-icons-responsive {
    display: flex;
    position: absolute;
    right: 100px !important;
  }
  .footer-icons-responsive a {
    padding-top: 30px;
    margin-left: 7px;
  }
  #footer-contacts .logo-none-opacity {
    display: none;
  }
  #footer-contacts .logo-opacity {
    display: block;
  }
  #footer-contacts .row {
    flex-direction: column;
  }
  #footer-contacts .footer-contacts-item {
    margin-top: 20px;
    margin-left: 20px;
  }
  #footer-contacts .footer-contacts-item .footer-call {
    margin-bottom: 0px;
  }
}
#slider-posterminal .slider-posterminal-item {
  min-height: 504px;
  padding-top: 104px;
  background-position: 100% 100%;
  background-size: 45%;
  width: 100%;
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-color: rgb(223, 242, 236);
  background-image: url(../../../assets/images/acquiring.png);
}
#slider-posterminal .slider-content {
  margin-top: 50px;
}
#slider-posterminal .slider-content h1 {
  font-weight: 300;
  margin-bottom: 30px;
}
#slider-posterminal .slider-content p {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}
#slider-posterminal .slider-content a {
  padding: 15px 30px;
}

@media only screen and (max-width: 992px) {
  #slider-posterminal a {
    width: 100%;
  }
  #slider-posterminal .slider-posterminal-item {
    background-image: url("");
  }
}
#posterminal-features {
  margin-top: 60px;
}
#posterminal-features h2 {
  font-weight: 300;
  margin-bottom: 20px;
}
#posterminal-features p {
  color: rgba(0, 0, 0, 0.5);
}
#posterminal-features .col-md-4 {
  margin-top: 40px;
}
#posterminal-features .pos-col-img {
  margin-right: 10px;
}
#posterminal-features .pos-col-img img {
  max-width: 60px;
  max-height: 60px;
}

#posterminal-kob {
  margin-top: 60px;
  padding: 65px 0px;
  background-color: #f4f5f4;
}
#posterminal-kob h2 {
  margin-top: 30px;
  font-weight: 300;
}

@media only screen and (max-width: 992px) {
  #posterminal-kob .kob-image {
    display: none;
  }
  #posterminal-kob .kob-content {
    padding: 0px 30px;
  }
}
#posterminal-types {
  margin-top: 60px;
}
#posterminal-types .info {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 30px;
}
#posterminal-types .row {
  flex-wrap: nowrap;
  overflow-x: auto;
}
#posterminal-types h2 {
  font-weight: 300;
  margin-bottom: 30px;
}
#posterminal-types .type-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: white;
  min-height: 700px;
}
#posterminal-types .type-item .type-head {
  background-color: #f4f5f4;
  padding: 80px 0px;
  text-align: center;
}
#posterminal-types .type-item .type-head p {
  position: absolute;
  left: 150px;
  top: 300px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 0px;
}
#posterminal-types .type-item .type-body {
  padding: 18px;
  background-color: white;
}
#posterminal-types .type-item .type-body img {
  margin-right: 10px;
}
#posterminal-types .type-item .type-body p {
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.6);
}
#posterminal-types .type-item .type-body div {
  margin: 15px 0px;
}
#posterminal-types .type-footer {
  background-color: white;
  padding: 18px;
}
#posterminal-types .type-footer button, #posterminal-types .type-footer a {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
#posterminal-types .type-footer button {
  background-color: white;
  color: #2b9275;
}
#posterminal-types .type-footer button:hover {
  background-color: #93aaa4;
  color: white;
}
#posterminal-types .emblem {
  position: absolute;
  top: 30px;
  right: 50px;
}

#posterminal-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  z-index: 999;
}
#posterminal-modal h4 {
  font-weight: 300;
}
#posterminal-modal .modal-content {
  position: absolute;
  top: 100px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 700px;
  background-color: white;
}
#posterminal-modal .modal-content img {
  margin-right: 10px;
}
#posterminal-modal p {
  margin-bottom: 0px;
}
#posterminal-modal .modal-body {
  padding: 0;
}
#posterminal-modal .modal-body .d-flex {
  margin: 20px;
  margin-left: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(192, 166, 166);
}
#posterminal-modal .modal-head a {
  cursor: pointer;
}
#posterminal-modal .close-btn {
  background-color: white;
  border: none;
}

#posterminal-document {
  margin-top: 60px;
}
#posterminal-document h2 {
  font-weight: 300;
  margin-bottom: 50px;
}
#posterminal-document h5 {
  font-weight: 400;
}
#posterminal-document p {
  color: rgba(0, 0, 0, 0.5);
}
#posterminal-document a {
  text-decoration: none;
  color: #099a71;
}
#posterminal-document .for-scroll {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

@media only screen and (max-width: 992px) {
  #posterminal-document .col-md-4 {
    min-width: 350px;
  }
}
#posterminal-service {
  margin-top: 60px;
}
#posterminal-service h2 {
  font-weight: 300;
  margin-bottom: 30px;
}
#posterminal-service .col-md-4 {
  margin-top: 20px;
}
#posterminal-service .col-md-4 p {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 10px;
  margin-left: 20px;
}
#posterminal-service .col-md-4 img {
  width: 80px;
  height: 80px;
}/*# sourceMappingURL=posterminal.css.map */