#ecommerce-connect{
    margin-top:60px;
    h2{
        font-weight: 300;
        margin-bottom: 30px;
    }
    p{
        font-size:25px;
        font-weight: 300;
        margin-bottom: 30px;
    }
    .connect-item{
        margin-top:20px;
        text-align: center;
        img{
            margin-bottom: 20px;
        }
        h4{
            margin-bottom: 20px;
            font-weight: 300;
        }
        p{
            font-size:15px;
            font-family: Gothic A1;
            color:rgba(0,0,0,0.60)
        }
    }
}