#salary-kob{
    margin-top: 60px;
    background: linear-gradient(79.58deg,rgba(241,249,247,.56),rgba(224,243,241,.56) 41.84%,rgba(253,246,231,.56) 66.32%,rgba(255,235,240,.56));
    width: 100%;

    h3{
        font-size:48px;
        font-weight: 300;
        margin-bottom: 40px;
        
    }
    .salary-kob-content{
        padding: 50px 0px;
    }
    img{
        max-width: 100%;
    }
    .btn{
        padding: 15px 30px;
    }
}
