@import '../../../assets/scss-homepage/bundles';
#bundles ul li{
    background-image: url(../../../assets/images/done.svg);
}
.account-bundles-text-p{
    margin-left:28px;
    color: rgba(0,0,0,0.50);
}
