#benefits-account{
    margin-top:50px;
    h2{
        font-size:30px;
        margin-bottom: 50px;
        font-weight: 400;
    }
    .account-benefit-item{
        margin-top: 20px;
        p{
            color:rgba(0,0,0,0.50)
        }

    }
    .account-bnft-img{
       padding-top: 5px;
       margin-right: 20px;
    }
}
