*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    height: 3px;
  }
::-webkit-scrollbar-thumb {
    background-color: rgb(5, 141, 102);
    border-radius: 10px;
    border: 1px solid white;
  }
body{
    background-color: #fafafa;
}
.d-none{
    display: none;
}

.btn{
    color:white;
    background-color: #058d66;
    padding: 8px 26px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;

    border:none;
    cursor: pointer;
    &:hover{
     
        background-color: rgba(164,255,164);
       
    }
    

}
.responsive-nav{
    a{
       padding-left: 20px;
       color:rgba(0,0,0,0.50)
    }
background-color: white;
}
