#loan-step{
    margin:50px 0;
    h2{
        font-weight: 300;
        margin-bottom: 30px;
    }
    .row{
        margin-top:40px;
        .col-md-4{
            margin-top: 20px;
            text-align: center;
            p{
                color:rgba(0,0,0,0.50)
            }
            img{
                margin-bottom: 40px;
            }
        }
    }
}