#loan-features-info{
    margin-top:60px;
    h2{
        font-weight: 300;
        margin-bottom: 30px;
    }
    .col-md-6{
        margin-top:25px;
        p{
            color:rgba(0,0,0,0.50)
        }
    }
    img{
        margin-right: 15px;

    }
    .for-whom{
        margin-top:60px;
    }
}