@import '../../Accounts/assets/kob-account';
#payment-kob{
    #account-page-kob{
        background-image: url('../../../assets/images/kob-payment.jpg');
        background-position: 100% 0;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}