#navbar{
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 100;
    top:0;
}

.container-navbar{
    padding-top: 10px;
    z-index: 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.header-menu ul{
    margin: 0;
    margin-right:180px;
    li{
    list-style: none;
    padding:15px 10px;
    margin-left:30px;
    color:rgba(0,0,0,.38);
    
  
    a{
    font-size: 13px;
    color: rgba(0,0,0,.38);
     padding-top:10px;
     padding-bottom: 15px;
    line-height: 24px;
    letter-spacing: .1px;
    font-weight: 600;
    &:hover {
        color: black;
        text-decoration: none;
        border-bottom: 3px solid #058d66;
    }
    }
    }
    display: flex;
}

a{
    text-decoration: none;
}
i{
    font-size:30px;
    color:red;
}
 .header-info{
    position: relative;
    top:0;
    z-index: 10;
    background-color: white;
    width: 100%;
    
    &:hover{
        display: block;
    }
}
.forbusiness,.forcredit,.forfactoring,.fortransaction,.foradditional-operations{
    ul{
        padding-right: 90px;
   
    }
    li{
        list-style: none;
        padding: 10px;
    }
    a{ font-size: 25px;
       color: rgba(0, 0, 0, 0.4);
       text-decoration: none;
      &:hover{
        color: rgba(0, 0, 0, 0.6)
      }
    }
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.forcredit ,.forfactoring,.fortransaction{
    margin-left:140px;
    justify-content: flex-start;
}
.forfactoring,.fortransaction{
    height: 270px;
}
.hamburger-nav{
    display: none;
}
@media only screen and (max-width:992px){
    #navbar .hamburger-menu{
        display: block ;
    }
    #navbar .header-menu{
        display: none ;
    }
    #navbar .hamburger-nav{
        display: block;
    }
    .container-navbar{
        padding-top: 20px;
        justify-content: space-between;
    }
    .hamburger-menu{
        color:black;
        display: none   ;
    }
   
}
