#navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: white;
  z-index: 100;
  top: 0;
}

.container-navbar {
  padding-top: 10px;
  z-index: 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-menu ul {
  margin: 0;
  margin-right: 180px;
  display: flex;
}
.header-menu ul li {
  list-style: none;
  padding: 15px 10px;
  margin-left: 30px;
  color: rgba(0, 0, 0, 0.38);
}
.header-menu ul li a {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.38);
  padding-top: 10px;
  padding-bottom: 15px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 600;
}
.header-menu ul li a:hover {
  color: black;
  text-decoration: none;
  border-bottom: 3px solid #058d66;
}

a {
  text-decoration: none;
}

i {
  font-size: 30px;
  color: red;
}

.header-info {
  position: relative;
  top: 0;
  z-index: 10;
  background-color: white;
  width: 100%;
}
.header-info:hover {
  display: block;
}

.forbusiness, .forcredit, .forfactoring, .fortransaction, .foradditional-operations {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.forbusiness ul, .forcredit ul, .forfactoring ul, .fortransaction ul, .foradditional-operations ul {
  padding-right: 90px;
}
.forbusiness li, .forcredit li, .forfactoring li, .fortransaction li, .foradditional-operations li {
  list-style: none;
  padding: 10px;
}
.forbusiness a, .forcredit a, .forfactoring a, .fortransaction a, .foradditional-operations a {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}
.forbusiness a:hover, .forcredit a:hover, .forfactoring a:hover, .fortransaction a:hover, .foradditional-operations a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.forcredit, .forfactoring, .fortransaction {
  margin-left: 140px;
  justify-content: flex-start;
}

.forfactoring, .fortransaction {
  height: 270px;
}

.hamburger-nav {
  display: none;
}

@media only screen and (max-width: 992px) {
  #navbar .hamburger-menu {
    display: block;
  }
  #navbar .header-menu {
    display: none;
  }
  #navbar .hamburger-nav {
    display: block;
  }
  .container-navbar {
    padding-top: 20px;
    justify-content: space-between;
  }
  .hamburger-menu {
    color: black;
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(5, 141, 102);
  border-radius: 10px;
  border: 1px solid white;
}

body {
  background-color: #fafafa;
}

.d-none {
  display: none;
}

.btn {
  color: white;
  background-color: #058d66;
  padding: 8px 26px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(164, 255, 164);
}

.responsive-nav {
  background-color: white;
}

footer {
  background-color: white;
}
footer ul {
  list-style: none;
}

#footer-contacts {
  margin-top: 100px;
  background-color: white;
  padding-top: 50px;
}
#footer-contacts .logo-opacity {
  display: none;
}
#footer-contacts .row {
  justify-content: space-between;
}
#footer-contacts .footer-contacts-item .footer-call {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}
#footer-contacts .footer-label {
  color: rgba(0, 0, 0, 0.5);
}

#padding-1 {
  padding-left: 100px;
}

#padding-2 {
  padding-right: 25px;
  padding-left: 30px;
}

.footer-icons-responsive {
  display: none;
}

#footer-navigation {
  margin-top: 40px;
}
#footer-navigation .footer-icons a {
  margin-right: 10px;
}
#footer-navigation .row {
  justify-content: space-between;
}
#footer-navigation ul li {
  padding: 10px 16px;
}
#footer-navigation ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
#footer-navigation ul li a:hover {
  color: black;
}

#footer-copyright .copyright-content {
  display: flex;
  justify-content: space-between;
}
#footer-copyright .copyright-content p {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 992px) {
  #footer-navigation {
    display: none;
  }
  #padding-1, #padding-2 {
    padding-left: 0px;
  }
  .copyright-content {
    flex-direction: column;
  }
  .footer-icons-responsive {
    display: flex;
    position: absolute;
    right: 100px !important;
  }
  .footer-icons-responsive a {
    padding-top: 30px;
    margin-left: 7px;
  }
  #footer-contacts .logo-none-opacity {
    display: none;
  }
  #footer-contacts .logo-opacity {
    display: block;
  }
  #footer-contacts .row {
    flex-direction: column;
  }
  #footer-contacts .footer-contacts-item {
    margin-top: 20px;
    margin-left: 20px;
  }
  #footer-contacts .footer-contacts-item .footer-call {
    margin-bottom: 0px;
  }
}
#loans-page-slider {
  background-color: #f1f9f7;
}
#loans-page-slider h1 {
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: unset !important;
}
#loans-page-slider .container {
  padding-top: 150px;
  padding-bottom: 52px;
  background-position: right -40px bottom;
  background-repeat: no-repeat;
  background-size: 35%;
  background-image: url(../../../assets/images/flexible_credit_cover.png);
}
#loans-page-slider a {
  margin-top: 30px;
}
#loans-page-slider .slider-success {
  margin-top: 20px;
}
#loans-page-slider .slider-success img {
  width: 30px;
  height: 30px;
}
#loans-page-slider .slider-success h5 {
  margin-left: 10px;
}

@media only screen and (max-width: 992px) {
  #loans-page-slider .container {
    background-image: url("");
  }
  #loans-page-slider .container .row {
    display: block;
  }
  #loans-page-slider .btn {
    width: 100%;
  }
  .loans-slider-content {
    padding-left: 10px;
  }
}
#loans-page-benefits {
  margin-top: 50px;
}
#loans-page-benefits h4 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 0.25px;
  margin-bottom: 50px;
}
#loans-page-benefits .row {
  flex-wrap: nowrap;
  padding-left: 10px;
}
#loans-page-benefits .loans-benefit-item {
  display: flex;
  flex-direction: column;
}
#loans-page-benefits .loans-benefit-item img {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}
#loans-page-benefits .loans-benefit-item h6 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

@media only screen and (max-width: 992px) {
  #loans-page-benefits .row {
    flex-wrap: wrap;
  }
  #loans-page-benefits .loans-benefit-item {
    margin-top: 10px;
  }
}
#loans-page-information {
  margin-top: 50px;
}
#loans-page-information h2 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 60px;
}
#loans-page-information .loans-info-items {
  flex-wrap: nowrap;
}
#loans-page-information .loans-info-items span {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 40px;
  font-size: 15px;
  font-weight: 400;
}

@media only screen and (max-width: 992px) {
  .loans-info-items {
    flex-wrap: wrap !important;
  }
  .loans-info-items .loans-information-item {
    margin-top: 20px;
  }
}
#loans-page-conditions {
  margin-top: 70px;
}
#loans-page-conditions h4 {
  font-size: 30px;
  font-weight: 300;
}
#loans-page-conditions .condition-head {
  margin-top: 50px;
  padding: 20px;
  padding-left: 40px;
  background-color: white;
}
#loans-page-conditions .condition-head h6 {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.38);
  padding-right: 20px;
  text-decoration: none;
}
#loans-page-conditions .condition-head h6:hover {
  color: black;
}
#loans-page-conditions .condition-body {
  padding-left: 40px;
  padding-bottom: 30px;
  background-color: white;
}
#loans-page-conditions .condition-body tr {
  border-top: 1px solid #edefed;
}
#loans-page-conditions .condition-body td {
  width: 500px;
  padding: 20px 0px;
  padding-right: 30px;
}
#loans-page-conditions .condition-body td img {
  width: 24px;
  height: 24px;
}

.active-condition {
  color: black;
}

#youtube {
  margin-top: 50px;
}
#youtube .youtube-text {
  padding-top: 50px;
  margin-bottom: 30px;
}
#youtube .youtube-text h4 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 30px;
}
#youtube .youtube-text h6 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}
#youtube .youtube-text h5 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 25px;
}
#youtube .youtube-text p {
  font-size: 10px;
}

#apply-for-loan {
  margin-top: 50px;
  background-color: #f1f9f7;
}
#apply-for-loan .container {
  background-image: url(../../../assets/images/zero_step.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 10px bottom;
}
#apply-for-loan .row {
  justify-content: flex-end;
}
#apply-for-loan .row .col-md-6 {
  padding: 60px 0px;
}
#apply-for-loan .row .col-md-6 h4 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 40px;
}
#apply-for-loan .row .col-md-6 h6 {
  font-size: 20px;
}
#apply-for-loan .row .col-md-6 .apply-buttons {
  margin-top: 50px;
}
#apply-for-loan .row .col-md-6 p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
#apply-for-loan .btn-white {
  background-color: white;
  border: 1px solid gray;
  color: #058d66;
}

@media only screen and (max-width: 992px) {
  #apply-for-loan .container {
    background-image: url("");
  }
  #apply-for-loan .container .apply-buttons button {
    width: 100%;
    margin-top: 10px;
  }
}/*# sourceMappingURL=onlinebusinesscredit.css.map */